body {
    position: relative; /* Ensure the body or the parent container is positioned */
    z-index: 1; /* Higher z-index ensures it's above the default layering */
    background-image: url('./attachments/dnaBorder.png'), url('./attachments/dnaBorder.png');
    background-repeat: repeat-y, repeat-y;
    background-position: 20px top, right 20px top;
    background-color: #8AC16A;
    background-size: 50px, 50px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border: 10px solid #249C54;
    padding: 0px;
    padding-left: 80px;
    padding-right: 80px;
    margin: 0;
    text-align: center;
    min-height: 100vh;
}

/* centers the website heading */
h1 {
    text-align: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap; /* Allows cards to wrap to the next line if the container's width is not enough */
    justify-content: center; /* Center the cards horizontally */
    gap: 15px; /* Adds space between the cards */
    padding-left: 50px; 
    padding-right: 50px;
}


/* Visual settings for each clickable card */
.card {
    background-color: #249C54; /* Green background color */
    padding: 20px; /* Padding around the content inside the card */
    margin: 10px; /* Margin around the card */
    width: 100px; /* Width of the card */
    height: 100px; /* Height of the card to make it square */
    border-radius: 10px; /* Rounded corners */
    border: 10px solid #249C54; /* Dark green border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for 3D effect */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition for hover effects */
    display: flex; /* Makes the card a flex container */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    text-align: center; /* Ensures text within the card is centered */
}

.card a {
    color: #ffff; /* White text color */
    text-decoration: none; /* No underline */
    display: block; /* Makes the link fill the entire card */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
}

.card:hover {
    background-color: #1e8c47; /* Darker shade of green on hover */
    border-color: #1e8c47; /* Change border color on hover */
    cursor: pointer; /* Changes the cursor to a pointer to indicate it's clickable */
}

/* Optional: Styling for the content inside the card for additional control */
.card-content {
    padding: 10px; /* Padding inside the card content */
}

/* Add this for the image container */
.image-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    margin: 20px 0; /* Add some space above and below the image container */
}

/* Adjustments to .profile-photo for sizing and potential additional styling */
.profile-photo {
    max-width: 50%; /* Adjust this to control the image size */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Optional: rounds the corners of the image */
}



/* Navigation Bar Styling */
nav { /* flex container: */
    display: flex;
    justify-content: flex-end; /* Aligns items to the right */
}

nav ul {
    list-style-type: none;
    margin: 0px;
    background-color: rgba(36, 156, 84); /* Example with semi-transparent background */
    overflow: hidden;
    display: flex; /* Makes the <ul> a flex container */
    width: 100%; /* Ensures the <ul> takes up the full width of the <nav> */
}

nav ul li {
    float: none; /* Remove float since we're using flexbox */
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    background-color: #ddd;
    color: #249C54;
}


/* Progress container styling */
.progress-container {
    width: 50%; /* Adjust the width as needed */
    margin: 20px auto; /* Center the progress bar */
    text-align: center;
}

progress {
    width: 100%; /* Makes the progress bar take full width of its container */
    height: 20px; /* Sets a fixed height for the progress bar */
}

progress[value] {
    /* Resets the default appearance */
    -webkit-appearance: none;
    appearance: none;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background-color: #26a69a;
    border-radius: 10px;
}

progress[value]::-moz-progress-bar {
    background-color: #26a69a;
    border-radius: 10px;
}
