body {
    background-image: url('dnaBorder.png'), url('dnaBorder.png');
    background-repeat: repeat-y, repeat-y;
    background-position: 20px top, right 20px top;
    background-color: #8AC16A;
    background-size: 50px, 50px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border: 10px solid #249C54;
    padding: 100px;
    margin: 0; 
    min-height: 100vh;
}


h1 {
    text-align: center;
}

.card {
    background-color: #249C54;
    padding: 20px;
    margin: 20px auto;
    max-width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card a {
    color: #ffff;
    text-decoration: none;
    display: block;
    text-align: right;
}
