*{
    font-family: 'Courier New', Courier, monospace; 
  }
  
  
  
  :root {
    --background-light-green: #8AC16A;
    --dark-green: #249C54;
  }
  

  .profile-photo {
    height: 200px; /* Set the width of the image */
}
